#Header {
    color: white;
    padding-bottom: 16px;

    .underline {
        width: 400px;
        margin-left: -32px;
        border-top: 12px dashed white;
        margin-bottom: 16px;
    }

    a {
        color: white;
        font-size: 24px;
        font-family: "acumin-pro-condensed";
        font-weight: 300;
    }
}

.preview {
    img {
        height: 100px;
        width: 100%;
        object-fit: cover;
        border: 2px dashed black;
    }

    h4 {
        font-size: 16px;
        line-height: 16px;
        font-weight: 500;
    }
}

#GenerativeGallery,
#DesignGallery,
#OtherGallery {
    background-color: white;
    min-height: 0;

    .grid {
        grid-column-gap: 8px;
        grid-template-columns: repeat(6, 1fr);
    }
}

#Display {
    position: fixed;
    top: 32px;
    left: 32px;
    right: 32px;
    bottom: 96px;
    background-color: white;
    border: 4px dashed black;

    & > div {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;

        .image {
            border: 2px solid black;
            width: 60%;
            height: 80%;
            margin-top: 1.25%;
            margin-left: 1.25%;
            background-color: dimgray;

            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }

        .legend {
            position: absolute;
            left: 16px;
            bottom: 16px;
            height: 12%;
            width: 58%;

            display: flex;
            overflow-x: auto;
            overflow-y: hidden;

            img {
                height: 100%;
                border: 1px solid black;
                margin-right: 8px;
            }
        }

        .about {
            margin-left: 16px;
            width: 40%;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h2 {
                margin-bottom: 8px;
            }

            p {
                border-left: 2px dashed black;
                padding-left: 16px;
            }

            a {
                margin-bottom: 8px;
                color: #4698cf;
                font-size: 24px;
                font-weight: 100;
            }
        }

        & > button {
            position: absolute;
            right: 8px;
            top: 0;
            width: 32px;
            height: 32px;
            background: none;
            border: none;
            font-size: 24px;
            font-weight: 900;
        }
    }
}

.sketchDisplay {
    .image {
        height: 95%;
    }
}

@media only screen and (max-width: 600px) {
    #GenerativeGallery,
    #DesignGallery,
    #OtherGallery {
        .span--1 {
            grid-column: span 2;
        }
    }

    #Header {
        h1 {
            line-height: 96px;
        }

        .underline {
            width: 210px;
            margin-left: -48px;
            border-top: 10px dashed white;
        }
    }
}
