* {
  margin: 0;
  padding: 0;
  font-family: acumin-pro, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  min-height: 100vh;
  background-color: blue;
}

h1{
  font-size: 128px;
}
