* {
    margin: 0;
    padding: 0;
    font-family: acumin-pro, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.nav-desktop {
    position: fixed;
    right: 0;
    width: 10vw;
    height: 50%;
    top: 25%;
    margin-right: 8px;
    border-right: 2px dashed black;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;

    a {
        margin-right: 8px;
        text-align: end;
        color: black;
        font-family: "acumin-pro-extra-condensed";
        font-size: 22px;
    }
}

.nav-mobile {
    position: fixed;
    top: 8px;
    right: 8px;
    background-color: black;
    width: 50px;
    height: 50px;

    display: none;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 32px;

    svg {
        fill: white;
        width: 40px;

        rect {
            transition: transform 0.5s;
            transform-origin: center;
        }

        &.x {
            .top {
                transform: rotate(45deg) translate(0px, 96px);
                transform-origin: center;
            }

            .mid {
                transform: scale(0);
            }

            .bot {
                transform: rotate(-45deg) translate(0px, -96px);
                transform-origin: center;
            }
        }
    }

    .nav-mobile-links {
        position: fixed;
        right: 8px;
        top: 72px;

        display: flex;
        flex-direction: column;
        align-items: flex-end;
        border-right: 4px dashed black;
        padding: 8px;

        a {
            background: black;
            padding: 0 8px;
            margin-bottom: 4px;
            color: white;
            font-family: "acumin-pro-extra-condensed";
            font-size: 32px;
        }
    }
}

.App {
    min-height: 100vh;
    background-color: #4698cf;
    display: flex;
    flex-direction: column;
    align-items: center;

    #links {
        display: flex;
        height: 50px;
        position: fixed;
        bottom: 32px;
        right: 32px;

        svg {
            margin-left: 8px;
            width: 50px;
        }
    }
}

// Grids
* {
    .grid {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-column-gap: 32px;
        grid-row-gap: 16px;
    }

    .span--1 {
        grid-column: span 1;
    }
    .span--2 {
        grid-column: span 2;
    }
    .span--3 {
        grid-column: span 3;
    }
    .span--4 {
        grid-column: span 4;
    }
    .span--5 {
        grid-column: span 5;
    }
    .span--6 {
        grid-column: span 6;
    }
    .span--7 {
        grid-column: span 7;
    }
    .span--8 {
        grid-column: span 8;
    }
    .span--9 {
        grid-column: span 9;
    }
}

#Projects {
    background-color: white;
    color: black;

    .project-image {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border: 2px solid black;
        background-color: white;
    }

    .project-description {
        margin-top: 16px;
        border-left: 2px dashed black;
        padding-left: 16px;

        p {
            font-size: 18px;
            margin-bottom: 16px;
        }

        a {
            color: #cf5033;
        }
    }
}

#Welcome {
    color: white;

    .section-description {
        margin-top: 16px;
        border-left: 6px dashed white;

        p {
            font-size: 24px;
            margin-bottom: 16px;

            a {
                font-size: 24px;
                font-weight: 500;
                margin: 0px 8px;
                color: white;
            }
        }

        a {
            color: white;
        }
    }

    .headshot {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        img {
            width: 80%;
            border-radius: 50%;
            border: 5px white solid;
        }
    }
}

#Generative {
    background-color: #cf5033;

    .section-description {
        border-left: 2px dashed black;
        padding-left: 16px;

        p {
            margin-bottom: 16px;
        }

        a {
            color: black;
            font-size: 32px;
        }
    }

    .generative-gallery {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;

        div {
            height: 300px;
            width: 100%;
            background-color: white;
        }
    }
}

.section-description {
    border-left: 2px dashed black;
    padding-left: 16px;

    p {
        margin-bottom: 16px;
    }

    a {
        color: black;
        font-size: 32px;
    }
}

#Design {
    background-color: white;

    .section-description {
        border-left: 2px dashed black;
        padding-left: 16px;

        p {
            margin-bottom: 16px;
        }

        a {
            color: #cf5033;
            font-size: 32px;
        }
    }
    .design-gallery {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;

        div {
            height: 300px;
            width: 100%;
            background-color: #cf5033;
        }
    }
}

.section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 0;
    min-height: 100vh;
}

.content {
    margin-left: -10%;
    width: 80vw;
}

a {
    text-decoration-style: dashed;
    font-size: 18px;
    font-weight: bold;
}

a:hover {
    text-decoration-style: solid;
}

h1 {
    font-size: 128px;
    font-family: acumin-pro-extra-condensed;
    font-weight: 700;
    display: flex;
    flex-direction: column;

    &:after {
        content: "";
        margin-top: -22px;
        margin-left: -20%;
        margin-bottom: 48px;
        width: 40vw;
        border-top: 16px dashed white;
    }
}

h2 {
    font-family: acumin-pro-extra-condensed;
    font-size: 96px;
    line-height: 96px;
    margin-bottom: 32px;
}

h3 {
    font-size: 48px;
    line-height: 52px;
}

h4 {
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 8px;
}

p {
    font-size: 24px;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 96px;

        &:after {
            width: 70vw;
        }
    }

    .span--3,
    .span--4,
    .span--5 {
        grid-column: span 9;
    }

    .content {
        margin: 0;
    }

    .nav-desktop {
        display: none;
    }

    .nav-mobile {
        display: flex;
    }

    #Welcome .headshot {
        justify-content: center;
    }

    .App #links {
        bottom: 8px;
        right: 8px;
    }
}
