@import url("https://fonts.googleapis.com/css?family=Inter");

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#home,
#resume,
#gallery,
#projects {
    padding-bottom: 256px;
    background-color: lightgray;
}

#content {
    background-color: white;
    padding: 0px 256px 64px 256px;
    margin: 32px 128px;
}

#gallery > #content {
    img {
        max-height: none;
    }
}

img {
    max-width: 100%;
    max-height: 300px;
    object-fit: contain;
    border: 1px solid black;

    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
}

.icon {
    height: 16px;
    width: 16px;
    background-color: gray;
}

.feather-link {
    width: 32px;
    height: 32px;
    background: black;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    & > a > svg {
        color: white;
    }
}

.right-align {
    text-align: right;
}

// Grids
* {
    .grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-column-gap: 32px;
        grid-row-gap: 32px;
        margin: 0px 128px;
    }

    .span--1 {
        grid-column: span 1;
    }
    .span--2 {
        grid-column: span 2;
    }
    .span--3 {
        grid-column: span 3;
    }
    .span--4 {
        grid-column: span 4;
    }
    .span--5 {
        grid-column: span 5;
    }
}

h1 {
    font-size: 128px;
    font-weight: 900;
}

h2 {
    font-size: 64px;
    font-weight: 900;
    line-height: 64px;
    margin-bottom: 16px;
}

h3 {
    margin-bottom: 32px;
}

p {
    margin-bottom: 16px;
}

a {
    color: black;
}

li {
    margin-left: 24px;
}

header {
    width: 100%;
    height: 48px;
    background: white;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: sticky;
    top: 0;

    & > a {
        font-weight: 900;
        font-size: 24px;
        margin-left: 16px;
        text-decoration: none;
    }

    & > div {
        margin-left: 32px;

        & > a {
            font-size: 20px;
            font-weight: 300;
            margin-left: 32px;
            text-decoration: none;
        }
    }

    & > .external-links {
        display: flex;
        position: absolute;
        right: 16px;

        & > div {
            margin-left: 8px;
        }
    }

    & > .mobile-links {
        position: absolute;
        right: 0;
        display: none;

        & > button,
        & > button:active {
            border: none;
            background-color: white;
            color: black;
            padding: 10px;
            font-size: 16px;
            border: none;
        }

        & > .links {
            display: none;
            position: absolute;
            right: 0;
            background-color: white;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;

            & > a {
                margin: 8px;
            }

            & > .external {
                display: flex;
                justify-content: space-evenly;
                margin-top: 8px;
                margin-bottom: 8px;
            }
        }

        &:hover > .links {
            display: flex;
            flex-direction: column;
        }
    }
}

.icon-link {
    display: flex;
    margin-top: 16px;
    align-items: center;

    a {
        margin-left: 8px;
    }
}

#resume {
    h1 {
        font-size: 64px;
    }

    h2 {
        font-size: 32px;
        line-height: 32px;
    }

    h3 {
        margin-bottom: 8px;
    }

    #content {
        & > div,
        & > p {
            margin-top: 32px;
        }

        & > p {
            color: gray;
        }

        & > div:nth-child(6),
        & > div:nth-child(3),
        & > p:nth-child(4),
        & > p:nth-child(7) {
            margin-top: 0;
        }
    }
}

#home {
    #content > p {
        font-size: 24px;
    }
}

#UXCaseStudyDetails {
    padding-bottom: 128px;
}

.return-to-projects {
    margin: 32px 0 32px 128px;

    & a {
        font-size: 18px;
        font-weight: 100;
        text-transform: uppercase;
        text-decoration: none;
    }
}

#content.writeup {
    border: 1px solid black;
    box-shadow: 0px 0px 60px 0px #00000074;
    padding: 0;
    padding-bottom: 32px;

    & > h1 {
        text-transform: uppercase;
        font-size: 16px;

        border-bottom: 0.5px solid black;
        padding: 4px 8px;
    }

    & .image-right {
        display: flex;
        justify-content: flex-end;
    }

    & .image-left {
        display: flex;
        justify-content: flex-start;
    }

    & img {
        width: auto;
        margin-bottom: 32px;
    }

    & p {
        line-height: 24px;
    }
}

@media only screen and (max-width: 600px) {
    #content,
    .writeup {
        padding: 16px;
        margin: 16px;

        display: flex;
        flex-direction: column;
    }

    .grid {
        grid-template-columns: auto;
        margin: 32px 0;
        padding: 0 16px;
    }

    .return-to-projects {
        margin: 16px 0 16px 16px;
    }

    #resume h1 {
        font-size: 48px;
    }

    h1 {
        font-size: 4rem;
    }

    header {
        & > a {
            font-size: 16px;
        }

        & > .internal-links,
        & > .external-links {
            display: none;
        }

        & > .mobile-links {
            display: inline-block;
        }
    }
}
